.login-body-html {
    height: 100%;
}

.login-left-panel {
    height: 100%;
    background-image: url(../img/supermercado.jpg);
    background-size: cover;
}

.login-right-panel {
    height: 100%;
}
